name: publish

on:
  workflow_dispatch:

jobs:
  test_call:
    uses: ./.github/workflows/test.yml
  publish:
    needs: test_call
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'
      - name: git config user
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "GitHub Actions"
      - run: npm ci
      - run: git status
      - run: git reset --hard
      - run: npm version patch
      - run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: git push origin && git push origin --tags
